html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html.bg {
    background: url("../Imgs/bg.png") no-repeat center center;
}

body {
    margin: 0;
    padding: 0;
    color: #56535E;
}

.blue {
    color: #5E8DF7;
}

.green {
    color: #2FD1AA;
}

.yellow {
    color: #FBC911;
}

.red {
    color: #F85C88;
}

.purple {
    color: #7D4598;
}

a {
    text-decoration: none;
}

p a {
    color: #8B8893;
}

.first-link {
    margin-left: 0;   
}

div.container {
    max-width: 960px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

@-webkit-keyframes fadeIn {from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media screen and (min-width: 1200px) { 
    div.content-div {
        display: inline;
        float: left;
        padding-top: 3em;
        padding-bottom: 1em;
        padding-left: 5em;
    }

    img.logo {
        height: 50px;
        width: auto;
    }

    .nav-link {
        margin-left: 2em;
        color: #8B8893;
        font-size: 1em;
    }

    div.hero-text {
        margin-top: 8em;
        z-index: 100;
    }

    h1 {
        font-size: 4em;
        margin: 0;
        font-weight: 400;
    }
    
    h2 {
        font-size: 2em;
        font-weight: 400;
    }

    h3 {
        font-size: 1.2em;
        font-weight: 400;
    }

    .btn {
        background-color: #F85C88;
        width: 10em;
        color: #ffffff;
        padding: .8em .1em;
        text-align: center;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 10px #E5517F;
        font-size: 1.2em;
        font-weight: 400;
        display: inline-block;
        margin-top: 3em;
    }

    .btn:hover {
        transform: skew(-20deg);
        text-decoration: none;
    }

    p {
        font-size: 1em;
        color: #8B8893;
        font-weight: 400;
    }
    
    .img-div {
        position: absolute;
        display: inline;
        right: 0;
        width: 55vw;
        height: 100vh;
        overflow: hidden;
        -moz-clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
        z-index: -100;
    }
    
    .hero-img {
        max-width: 100%;
    }
    
    .email-text {
        position: absolute;
        bottom: 1em;
    }
    
    .fade-in {
        opacity: 0;  /* make things invisible upon start */
        -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;

        -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
    }
    
    .fade-in.zero {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
    }

    .fade-in.one {
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
        animation-delay: .5s;
    }

    .fade-in.two {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }

    .fade-in.three {
        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
    
    .gif {
        width: 90%;
        height: auto;
        margin-top: 5em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    div.content-div {
        display: block;
        float: left;
        padding-top: 3em;
        padding-bottom: 1em;
        padding-left: 5em;
    }

    img.logo {
        height: 50px;
        width: auto;
    }

    .nav-link {
        margin-left: 2em;
        color: #8B8893;
        font-size: 1em;
    }

    div.hero-text {
        margin-top: 8em;
        z-index: 100;
    }

    h1 {
        font-size: 4em;
        margin: 0;
        font-weight: 400;
    }
    
    h2 {
        font-size: 2em;
        font-weight: 400;
    }

    h3 {
        font-size: 1.2em;
        font-weight: 400;
    }

    .btn {
        background-color: #F85C88;
        width: 10em;
        color: #ffffff;
        padding: .8em .1em;
        text-align: center;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 10px #E5517F;
        font-size: 1.2em;
        font-weight: 400;
        display: inline-block;
        margin-top: 3em;
    }

    .btn:hover {
        transform: skew(-20deg);
        text-decoration: none;
    }

    p {
        font-size: 1em;
        color: #8B8893;
        font-weight: 400;
    }
    
    .img-div {
        display: none;
    }
    
    .hero-img {
        display: none;
    }
    
    .email-text {
        position: absolute;
        bottom: 1em;
    }
    
    .fade-in {
        opacity: 0;  /* make things invisible upon start */
        -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;

        -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
    }

    .fade-in.one {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
    }

    .fade-in.two {
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
        animation-delay: .5s;
    }

    .fade-in.three {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }
    
    .gif {
        width: 90%;
        height: auto;
        margin-top: 5em;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    div.content-div {
        display: block;
        float: left;
        padding-top: 2em;
        padding-bottom: 1em;
        padding-left: 3em;
    }

    img.logo {
        height: 40px;
        width: auto;
    }

    .nav-link {
        margin-left: 2em;
        color: #8B8893;
        font-size: .8em;
    }

    div.hero-text {
        margin-top: 6em;
        z-index: 100;
    }

    h1 {
        font-size: 3.5em;
        margin: 0;
        font-weight: 400;
    }
    
    h2 {
        font-size: 1.5em;
        font-weight: 400;
    }

    h3 {
        font-size: 1em;
        font-weight: 400;
    }

    .btn {
        background-color: #F85C88;
        width: 8em;
        color: #ffffff;
        padding: .8em .1em;
        text-align: center;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 10px #E5517F;
        font-size: 1em;
        font-weight: 400;
        display: inline-block;
        margin-top: 2em;
    }

    .btn:hover {
        transform: skew(-20deg);
        text-decoration: none;
    }

    p {
        font-size: .8em;
        color: #8B8893;
        font-weight: 400;
    }
    
    .img-div {
        display: none;
    }
    
    .hero-img {
        display: none;
    }
    
    .email-text {
        position: absolute;
        bottom: 1em;
    }
    
    .fade-in {
        opacity: 0;  /* make things invisible upon start */
        -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;

        -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
        animation-duration: .8s;
    }

    .fade-in.one {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
    }

    .fade-in.two {
        -webkit-animation-delay: .4s;
        -moz-animation-delay: .4s;
        animation-delay: .4s;
    }

    .fade-in.three {
        -webkit-animation-delay: .8s;
        -moz-animation-delay: .8s;
        animation-delay: .8s;
    }
    
    .gif {
        width: 90%;
        height: auto;
        margin-top: 3.5em;
    }
}

@media screen and (max-width: 768px) {
    div.content-div {
        display: block;
        float: none;
        width: 100vw;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
    }

    img.logo {
        text-align: center;
        margin: 0 auto 1em auto;
        display: block;
        height: 40px;
        width: auto;
    }
    
    .navbar {
        width: 100%;
        text-align: center;
    }

    .nav-link {
        margin-left: .5em;
        margin-right: 1em;
        color: #8B8893;
        font-size: .7em;
        display: inline-block;
    }

    div.hero-text {
        margin-top: 4em;
        z-index: 100;
    }

    h1 {
        font-size: 2em;
        margin: 0;
        font-weight: 400;
    }
    
    h2 {
        font-size: 1.2em;
        font-weight: 400;
    }

    h3 {
        font-size: .8em;
        font-weight: 400;
    }

    .btn {
        background-color: #F85C88;
        width: 8em;
        color: #ffffff;
        padding: .8em .1em;
        text-align: center;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 10px #E5517F;
        font-size: .8em;
        font-weight: 400;
        display: inline-block;
        margin-top: 2em;
    }

    .btn:hover {
        transform: skew(-20deg);
        text-decoration: none;
    }

    p {
        font-size: .7em;
        color: #8B8893;
        font-weight: 400;
    }
    
    .img-div {
        display: none;
    }
    
    .hero-img {
        display: none;
    }
    
    .email-text {
        position: static;
        margin-top: 3em;
        width: 70vw;
    }
    
    .fade-in {
        opacity: 0;  /* make things invisible upon start */
        -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;

        -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-duration: .6s;
        -moz-animation-duration: .6s;
        animation-duration: .6s;
    }

    .fade-in.one {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
    }

    .fade-in.two {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        animation-delay: .3s;
    }

    .fade-in.three {
        -webkit-animation-delay: .6s;
        -moz-animation-delay: .6s;
        animation-delay: .6s;
    }
    
    .gif {
        width: 90%;
        height: auto;
        margin-top: 2em;
    }
    
}